{% extends 'base.html'%}
{% import 'macros.html' as macro %}

{% block content%}
<body style="background-image: url(https://images.unsplash.com/photo-1635696893457-2457364904d7?ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwxNDF8fHxlbnwwfHx8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);">
<div class="container">
         <!-- Entertainment News Section  -->
         
         <h3 style="color: crimson;"> Top Entertainment News Sources</h3>
         <hr>
 
         {{ macro.displaySourceList(entertainment_sources)}}

         <!-- Sports News Section  -->
         
        <h3 style="color: crimson;"> Top Sports News Sources</h3>
        <hr>

        {{ macro.displaySourceList(sports_sources)}}

		<!-- Business News Section  -->
        <h3  style="color: crimson;"> Top Business News Sources</h3>
        <hr>

        {{ macro.displaySourceList(sources)}}

        <!-- Technology News Section  -->
         
        <h3  style="color: crimson;"> Top Technology News Sources</h3>
        <hr>

        {{ macro.displaySourceList(technology_sources)}}
	
</div>
</body>

{%endblock%}
